<!-- components/menu.html -->
<nav>
    <ul class="icon-menu">
        <li><a href="../index.html"><i class="fas fa-home"></i> Главная</a></li>
        <li><a href="../about/index.html"><i class="fas fa-info-circle"></i> О проекте</a></li>
        <li><a href="../how-it-works/index.html"><i class="fas fa-cogs"></i> Как это работает</a></li>
        <li><a href="../civilizations/index.html"><i class="fas fa-globe"></i> Цивилизации</a></li>
        <li><a href="../gameplay/index.html"><i class="fas fa-gamepad"></i> Игровой процесс</a></li>
        <li><a href="../eternal-items/index.html"><i class="fas fa-cube"></i> Вечные предметы</a></li>
        <li><a href="../research/index.html"><i class="fas fa-flask"></i> Исследования</a></li>
        <li><a href="../participation/index.html"><i class="fas fa-handshake"></i> Участие</a></li>
        <li><a href="../news/index.html"><i class="fas fa-newspaper"></i> Новости</a></li>
        <li><a href="../faq/index.html"><i class="fas fa-question-circle"></i> FAQ</a></li>
        <li><a href="../contact/index.html"><i class="fas fa-envelope"></i> Контакты</a></li>
        <li><a href="../store/index.html"><i class="fas fa-store"></i> Магазин</a></li>
        <li><a href="../map/index.html"><i class="fas fa-map"></i> Карта</a></li>
    </ul>
</nav>
